.fl_norway {
background-position: 0 0px !important
}
.fl_chile {
background-position: 0 -24px !important
}
.fl_uruguay {
background-position: 0 -48px !important
}
.fl_albania {
background-position: 0 -72px !important
}
.fl_belarus {
background-position: 0 -96px !important
}
.fl_czech {
background-position: 0 -120px !important
}
.fl_france {
background-position: 0 -144px !important
}
.fl_italy {
background-position: 0 -168px !important
}
.fl_cyprus {
background-position: 0 -192px !important
}
.fl_hungary {
background-position: 0 -216px !important
}
.fl_austria {
background-position: 0 -264px !important
}
.fl_greece {
background-position: 0 -288px !important
}
.fl_andorra {
background-position: 0 -2760px !important
}
.fl_jamaica {
background-position: 0 -6100px !important
}
.fl_oman {
background-position: 0 -6119px !important
}
.fl_trinidad-and-tobago {
background-position: 0 -6137px !important
}
.fl_afghanistan {
background-position: 0 -6154px !important
}
.fl_kyrgyzstan {
background-position: 0 -6173px !important
}
.fl_brunei {
background-position: 0 -6191px !important
}
.fl_slovakia {
background-position: 0 -312px !important
}
.fl_cambodia {
background-position: 0 -6209px !important
}
.fl_lebanon {
background-position: 0 -6226px !important
}
.fl_myanmar {
background-position: 0 -6244px !important
}
.fl_turkmenistan {
background-position: 0 -6263px !important
}
.fl_sweden {
background-position: 0 -336px !important
}
.fl_ukraine {
background-position: 0 -360px !important
}
.fl_225 {
background-position: 0 -384px !important
}
.x_17 {
background-position: 0 -384px !important
}
.fl_argentina {
background-position: 0 -408px !important
}
.fl_mexico {
background-position: 0 -432px !important
}
.fl_usa {
background-position: 0 -456px !important
}
.fl_england {
background-position: 0 -480px !important
}
.fl_bulgaria {
background-position: 0 -504px !important
}
.fl_denmark {
background-position: 0 -528px !important
}
.fl_ireland {
background-position: 0 -552px !important
}
.fl_israel {
background-position: 0 -576px !important
}
.fl_lithuania {
background-position: 0 -600px !important
}
.fl_germany {
background-position: 0 -624px !important
}
.fl_poland {
background-position: 0 -648px !important
}
.fl_romania {
background-position: 0 -672px !important
}
.fl_slovenia {
background-position: 0 -720px !important
}
.fl_switzerland {
background-position: 0 -745px !important
}
.fl_wales {
background-position: 0 -768px !important
}
.fl_singapore {
background-position: 0 -792px !important
}
.fl_brazil {
background-position: 0 -816px !important
}
.fl_peru {
background-position: 0 -840px !important
}
.fl_philippines {
background-position: 0 -3169px !important
}
.fl_japan {
background-position: 0 -864px !important
}
.fl_korea {
background-position: 0 -2640px !important
}
.fl_belgium {
background-position: 0 -888px !important
}
.fl_croatia {
background-position: 0 -912px !important
}
.fl_finland {
background-position: 0 -936px !important
}
.fl_iceland {
background-position: 0 -960px !important
}
.fl_latvia {
background-position: 0 -1008px !important
}
.fl_netherlands {
background-position: 0 -1032px !important
}
.fl_portugal {
background-position: 0 -1056px !important
}
.fl_russia {
background-position: 0 -1080px !important
}
.fl_scotland {
background-position: 0 -1104px !important
}
.fl_spain {
background-position: 0 -1128px !important
}
.fl_turkey {
background-position: 0 -1152px !important
}
.fl_australia {
background-position: 0 -1176px !important
}
.fl_world {
background-position: 0 -1200px !important
}
.fl_colombia {
background-position: 0 -1344px !important
}
.fl_canada {
background-position: 0 -1368px !important
}
.fl_china {
background-position: 0 -1392px !important
}
.fl_serbia {
background-position: 0 -1440px !important
}
.fl_macedonia {
background-position: 0 -1464px !important
}
.fl_guatemala {
background-position: 0 -1488px !important
}
.fl_estonia {
background-position: 0 -1512px !important
}
.fl_ecuador {
background-position: 0 -1536px !important
}
.fl_costa-rica {
background-position: 0 -1560px !important
}
.fl_bosnia-herzegovina {
background-position: 0 -1608px !important
}
.fl_south-africa {
background-position: 0 -1656px !important
}
.fl_armenia {
background-position: 0 -1680px !important
}
.fl_egypt {
background-position: 0 -1704px !important
}
.fl_faroe-island {
background-position: 0 -1728px !important
}
.fl_guadeloupe {
background-position: 0 -6081px !important
}
.fl_grenada {
background-position: 0 -6061px !important
}
.fl_ghana {
background-position: 0 -1752px !important
}
.fl_barbados {
background-position: 0 -6282px !important
}
.fl_iraq {
background-position: 0 -1776px !important
}
.fl_iran {
background-position: 0 -1800px !important
}
.fl_jordan {
background-position: 0 -1824px !important
}
.fl_kazakhstan {
background-position: 0 -1848px !important
}
.fl_kenya {
background-position: 0 -1872px !important
}
.fl_litva {
background-position: 0 -1872px !important
}
.fl_malaysia {
background-position: 0 -1920px !important
}
.fl_moldova {
background-position: 0 -1944px !important
}
.fl_mozambique {
background-position: 0 -1968px !important
}
.fl_senegal {
background-position: 0 -1992px !important
}
.fl_northern-ireland {
background-position: 0 -2016px !important
}
.fl_syria {
background-position: 0 -2040px !important
}
.fl_uganda {
background-position: 0 -2088px !important
}
.fl_tanzania {
background-position: 0 -2112px !important
}
.fl_togo {
background-position: 0 -2136px !important
}
.fl_algeria {
background-position: 0 -2160px !important
}
.fl_el-salvador {
background-position: 0 -2184px !important
}
.fl_honduras {
background-position: 0 -2208px !important
}
.fl_bolivia {
background-position: 0 -2232px !important
}
.fl_hongkong {
background-position: 0 -2256px !important
}
.fl_kuwait {
background-position: 0 -2280px !important
}
.fl_luxembourg {
background-position: 0 -2304px !important
}
.fl_paraguay {
background-position: 0 -2328px !important
}
.fl_morocco {
background-position: 0 -2352px !important
}
.fl_montenegro {
background-position: 0 -2376px !important
}
.fl_qatar {
background-position: 0 -2400px !important
}
.fl_malta {
background-position: 0 -2424px !important
}
.fl_thailand {
background-position: 0 -2448px !important
}
.fl_tunisia {
background-position: 0 -2472px !important
}
.fl_azerbaijan {
background-position: 0 -2496px !important
}
.fl_venezuela {
background-position: 0 -2520px !important
}
.fl_bahrain {
background-position: 0 -2544px !important
}
.fl_georgia {
background-position: 0 -2568px !important
}
.fl_uae {
background-position: 0 -2592px !important
}
.fl_south-korea {
background-position: 0 -2640px !important
}
.fl_vietnam {
background-position: 0 -2736px !important
}
.fl_tunisia {
background-position: 0 -2760px !important
}
.fl_cameroon {
background-position: 0 -2784px !important
}
.fl_sudan {
background-position: 0 -2808px !important
}
.fl_india {
background-position: 0 -2832px !important
}
.fl_indonesia {
background-position: 0 -2856px !important
}
.fl_libya {
background-position: 0 -2880px !important
}
.fl_namibia {
background-position: 0 -2904px !important
}
.fl_yemen {
background-position: 0 -2928px !important
}
.fl_uzbekistan {
background-position: 0 -2952px !important
}
.fl_new-zealand { 
background-position:0 -2976px !important 
}
.fl_zimbabwe {
background-position: 0 -3024px !important
}
.fl_saudi-arabia {
background-position: 0 -3048px !important
}
.fl_angola {
background-position: 0 -3072px !important
}
.fl_nigeria {
background-position: 0 -3096px !important
}
.fl_dr-congo {
background-position: 0 -3120px !important
}
.fl_djibouti {
background-position: 0 -3288px !important
}
.fl_panama {
background-position: 0 -3312px !important
}
.fl_sierra-leone {
background-position: 0 -3360px !important
}
.fl_san-marino {
background-position: 0 -3456px !important
}
.fl_bangladesh {
background-position: 0 -3504px !important
}
.fl_pakistan {
background-position: 0 -3528px !important
}
.fl_cape-verde {
background-position: 0 -3552px !important
}
.fl_cote-d-ivoire {
background-position: 0 -3600px !important
}
.fl_zambia {
background-position: 0 -3624px !important
}
.fl_mali {
background-position: 0 -3648px !important
}
.fl_gambia {
background-position: 0 -3672px !important
}
.fl_burkina-faso {
background-position: 0 -3720px !important
}
.fl_guinea {
background-position: 0 -3744px !important
}
.fl_somalia {
background-position: 0 -3792px !important
}
.fl_ethiopia {
background-position: 0 -3816px !important
}
.fl_gabon {
background-position: 0 -3840px !important
}
.fl_benin {
background-position: 0 -3912px !important
}
.fl_congo {
background-position: 0 -3936px !important
}
.fl_rwanda {
background-position: 0 -3960px !important
}
.fl_swaziland {
background-position: 0 -4080px !important
}
.fl_burundi {
background-position: 0 -4104px !important
}
.fl_lesotho {
background-position: 0 -4152px !important
}
.fl_central-african-republic {
background-position: 0 -4200px !important
}
.fl_liberia {
background-position: 0 -4224px !important
}
.fl_malawi {
background-position: 0 -4248px !important
}
.fl_tajikistan {
background-position: 0 -4488px !important
}
.fl_liechtenstein {
background-position: 0 -4512px !important
}
.fl_botswana {
background-position: 0 -4632px !important
}
.fl_mauritania {
background-position: 0 -4920px !important
}
.fl_mauritius {
background-position: 0 -4944px !important
}
.fl_niger {
background-position: 0 -5064px !important
}
.fl_seychelles {
background-position: 0 -5184px !important
}
.fl_gibraltar {
background-position: 0 -5664px !important
}
.fl_kosovo {
background-position: 0 -5688px !important
}
.fl_ivory-coast {
background-position: 0 -3600px !important
}
.fl_europe {
background-position: 0 -5945px !important
}
.fl_south-america {
background-position: 0 -6004px !important
}
.fl_concacaf {
background-position: 0 -5966px !important
}
.fl_asia {
background-position: 0 -5925px !important
}
.fl_africa {
background-position: 0 -6024px !important
}
.fl_ocean {
background-position: 0 -5986px !important
}

.fl_1, .fl_2, .fl_3, .fl_4, .fl_5, .fl_6, .fl_7, .fl_8 {
background-position: 0px -1200px !important;
}
.fl_stream {
background-position: 0 -6297px !important;
width:15px;
height:15px;
}
.fl_sopcast {
background-position: 0 -6332px !important;
width:15px;
height:15px;
}
.fl_video {
background-position: 0 -6314px !important;
width:15px;
height:15px;
}