<div class="guide">
    <div class="guide__content">
        <!--<h2 class="text-uppercase">hướng dẫn vào <a href="http://www.m88link.net/link1" target="_blank" title="m88" style="text-decoration: underline; color: #2196f3;">m88</a></h2>-->

        <article id="link_vao_m88_moi_nhat" class="article">
            <h3>danh sách link vào m88 mới nhất</h3>
            <div class="collection-horizontal" style="max-width: 200px;">
                <a class="collection-item" href="http://affiliate.m88cvf.com/Track.ashx?ref=29743&lang=en-US&link=e20e175c-d1d8-432a-817b-9f12fb943504" target="_blank">link 01</a>
                <a class="collection-item" href="http://affiliate.m88cvf.com/Track.ashx?ref=29743&lang=en-US&link=e20e175c-d1d8-432a-817b-9f12fb943504" target="_blank">link 02</a>
            </div>
        </article>        


        <!--<h2 class="text-uppercase">hướng dẫn thực hiện giao dịch</h2>-->
        <div class="tabs" style="margin-top: 50px;">
            <div class="tab-header">
                <ul class="clearfix m0">
                    <li class="in">
                        <a href="#dang_ky_tk_m88" data-scrollSpy="tab-container">đăng ký TK</a>
                    </li>
                    <li>
                        <a href="#gui_tien_vao_tk_m88" data-scrollSpy="tab-container">Nạp tiền vào M88</a>
                    </li>
                    <li>
                        <a href="#chuyen_tien_tu_m88" data-scrollSpy="tab-container">Chuyển tiền trong M88</a>
                    </li>
                    <li>
                        <a href="#rut_tien_tu_m88" data-scrollSpy="tab-container">Rút tiền từ M88</a>
                    </li>
                </ul>
            </div>
            <div class="tab-container" id="#tab-container">
                <div class="tab-item active">
                    <article id="dang_ky_tk_m88" class="article">
                        <h3>hướng dẫn đăng ký tài khoản m88</h3>
                        <p>
                            Để đăng ký tài khoản tại m88, các bạn làm theo hướng dẫn sau.
                        </p>
                        <p>
                            <strong><u>1. Truy cập vào trang chủ m88</u></strong> bằng 1 trong các <a href="#link_vao_m88_moi_nhat">link</a> ở đầu bài viết
                        </p>
                        <p>
                            <strong><u>2. Click vào nút Đăng Ký</u></strong>
                            <div class="text-center">
                                <img src="/content/images/m88-01.png" />
                            </div>
                        </p>
                        <p>
                            <strong><u>3. Nhập đầy đủ thông tin cá nhân</u></strong> của bạn, chọn đồng ý điều khoản và click nút Đăng Ký
                            <div class="text-center">
                                <img src="/content/images/m88-02.png" />
                            </div>
                        </p>
                        <p>
                            Quá trình đăng ký chỉ diễn ra vài giây, nếu thành công bạn sẽ được đăng nhập với tài khoản mình đã đăng ký
                            <div class="text-center">
                                <img src="/content/images/m88-04.png" />
                            </div>
                        </p>

                    </article>
                </div>

                <div class="tab-item">
                    <article id="gui_tien_vao_tk_m88" class="article">
                        <h3>hướng dẫn gửi tiền vào tài khoản m88</h3>
                        <p>
                            Đây còn gọi là <strong>Đặt cọc</strong> trong M88. Quá trình gồm 2 bước sau
                        </p>
                        <p>
                            <strong><u>Bước 1: Lấy tài khoản ngân hàng của M88</u></strong>: Tại trang chủ, bạn chọn "Hỗ trợ trực tuyến" để nhân viên tư vấn đưa số tài khoản ngân hàng cho bạn.
                            <div class="text-center">
                                <img src="/content/images/m88-05.png" />
                            </div>
                            <div class="text-center">
                                <img src="/content/images/m88-06.png" />
                            </div>
                        </p>
                        <p>
                            Chúng tôi khuyên bạn nên sử dụng tài khoản ngân hàng Á Châu (ACB) hoặc Vietcombank (VCB) thì quá trình nhận tiền sẽ nhanh hơn ở các ngân hàng khác.
                        </p>
                        <p>
                            <strong><u>Bước 2: Chuyển tiền vào TK ngân hàng</u></strong>: Sau khi có số TK của M88, bạn có thể chuyển tiền bằng bất cứ cách nào muốn (tới quầy giao dịch của ngân hàng, internet banking hoặc ATM).
                        </p>
                        <p>
                            <strong class="text-danger">CHÚ Ý:</strong>
                            <br />
                            <ul class="default">
                                <li>000 VNĐ là số tiền gửi tối thiểu.</li>
                                <li>000.000 VNĐ là số tiền gửi tối đa.</li>
                                <li>Có thể xác nhận gửi tiền tối đa 10 lần/ngày.</li>
                                <li>Họ tên người gửi tiền phải trùng với họ tên đăng ký tài khỏan m88. việc gửi tiền qua người thứ ba sẽ <b class="text-danger">KHÔNG</b> được chấp nhận.</li>
                            </ul>
                        </p>
                        <p>
                            Để xác nhận, truy cập vào tài khoản của bạn và xem số dư tài khoản
                            <div class="text-center">
                                <img src="/content/images/m88-07.png" />
                            </div>
                        </p>
                    </article>
                </div>

                <div class="tab-item">
                    <article id="chuyen_tien_tu_m88">
                        <h3>hướng dẫn chuyển tiền từ TK cá cược M88</h3>
                        <p>
                            <strong><u>Bước 1: Truy cập vào "Thu Ngân"</u></strong> sau khi đăng nhập tài khoản
                            <div class="text-center">
                                <img src="/content/images/m88-08.png" />
                            </div>
                        </p>
                        <p>
                            Trong cửa sổ mới được mở, chọn <strong>Chuyển Quỹ</strong>, từ đây bạn có thể chọn cho mình 1 loại tài khoản cá cược và chuyển về tài khoản chính của mình<br />
                            Sau khi chọn tài khoản, nhập số tiền muốn chuyển và mật khẩu cá nhân, sau đó bấm nút "Xác Nhận".
                            <div class="text-center">
                                <img src="/content/images/m88-09.png" />
                            </div>
                        </p>
                        <p>
                            Quá trình chuyển sẽ được thực hiện trong giây lát, và bạn sẽ nhận được thông báo sau khi thành công.
                            <div class="text-center">
                                <img src="/content/images/m88-10.png" />
                            </div>
                        </p>
                    </article>
                </div>

                <div class="tab-item">
                    <article id="rut_tien_tu_m88">
                        <h3>hướng dẫn rút tiền từ TK m88 về TK cá nhân</h3>
                        <p>
                            Cũng trong cửa sổ như <a href="#chuyen_tien_tu_m88">bước trên</a>, chọn <strong>Rút tiền</strong> -> <strong>Local Bank Transfer</strong>
                            <br /> Điền các thông tin cần thiết và bấm "Xác nhận"
                            <div class="text-center">
                                <img src="/content/images/m88-11.png" />
                            </div>
                        </p>
                        <p>
                            Nếu giao dịch thành công sẽ xuất hiện thông báo như dưới đây
                            <div class="text-center">
                                <img src="/content/images/m88-12.png" />
                            </div>
                        </p>
                        <p>
                            Lưu ý rằng lần rút tiền đầu tiên từ M88 sẽ mất khoảng từ 12h đến 48h. Bởi nhà cái cần tiến hàng kiểm tra kĩ lưỡng rồi sau đó mới chuyển tiền về tài khoản cho bạn. Các lần rút tiền sau sẽ nhanh hơn. Một mẹo nhỏ là nếu bạn đặt lệnh rút tiền trước 12h trưa thì 3h chiều bạn sẽ có tiền về tài khoản, còn nếu đăt lệnh sau 12h trưa thì hôm sau bạn mới nhận được tiền.
                        </p>
                        <p>
                            Hoặc bạn có thể chat với nhân viên tư vấn của nhà cái M88 về giao dịch rút tiền đã được thực hiện hay chưa (mục "Hỗ trợ trực tuyến").
                        </p>
                    </article>
                </div>
            </div>
        </div>

    </div>
    <!--<div class="guide-nav">
        <div class="collection">
            <div class="collection-header">
                <h4>mục lục</h4>
            </div>
            <a href="#link_vao_m88_moi_nhat" class="collection-item">Link vào m88 mới nhất</a>
            <a href="#dang_ky_tk_m88" class="collection-item">Đăng ký TK m88</a>
            <a href="#gui_tien_vao_tk_m88" class="collection-item">Gửi tiền vào TK m88</a>
            <a href="#chuyen_tien_tu_m88" class="collection-item">Chuyển tiền từ TK cá cược</a>
            <a href="#rut_tien_tu_m88" class="collection-item">Rút tiền từ TK cá cược</a>
        </div>
    </div>-->
</div>