@model Piranha.Models.PageModel
@{
    ViewBag.Title = Model.Page.Title ;
}

<div class="main-banner">
    <img src="~/content/images/banner.jpg" alt="Vao Bong88, Sbobet, Ibet888 không bị chặn" />
</div>
    <div class="component">
        @Model.Regions.Content
    </div>
